<html>
  <head>
    <title>Yelp</title>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
        <%= link_to 'Add a restaurant', new_restaurant_path %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign in', user_session_path %>
        <p>Please sign in to add a restaurant</p>
      <% end %>
    </header>
    <% if @restaurants.any? %>
      <% @restaurants.each do |restaurant| %>
        <h2><%= restaurant.name %></h2>
        <h3><%= restaurant.cuisine %></h3>
        <h3>Rating:
          <%= star_rating(restaurant.average_rating) %></h3>
        <% if user_signed_in? %>
          <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
          <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></p>
          <p><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></p>
          <p><%= link_to "More info and reviews", restaurant_reviews_path(restaurant) %></p>
        <% else %>
          <p>
            Please sign in to write reviews</p>
        <% end %>
      <% end %>
    <% else %>
      No restaurants yet
    <% end %>
  </body>
</html>
